@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


a{
  text-decoration: none;
  color: #AF7Ad5;
}
body {
  background-color: #13131a;
  color: #e6e6fa;
  font-family: 'Dosis', 'Arial', 'Helvetica';
}

span{
  color:#AF7Ad5;
}

/* NAV BAR */

.navbar {
    height: 5rem;
    background-color: #101018;
    font-size: 1.25rem;
  }

.navbar-brand{
  font-size: 2rem;
  font-weight: 500;
  margin-left: 2rem;
}

.navbar-nav{
    display: flex;
    gap: 1.5rem;
    border-right: 1px solid #000;
    color: #e6e6fa;
}

.navbar-collapse{
  display: flex;
  gap: 1.25rem;
  background-color: #101018;
  padding: 1rem;
}

.btn-port{
  margin-right: 2rem;
  font-size: 1.25rem;
}

.btn-outline-light {
  border-color: #AF7Ad5;
  color: #e6e6fa;
}

.btn-outline-light:hover {
  background-color: #171720;
  border-color: #AF7Ad5;
}

/* HERO SECTION */

.containhero{
  padding-top: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profile{
  vertical-align: middle;
  border-radius: 45%;
}

.title{
margin-top: 10rem;
}


h4{
  font-size: 1.10rem;
  letter-spacing: .125rem;
}

h1{
  font-size: 4.6875rem;
  margin: 1.25rem 0 1.25rem;
  font-weight: 600;
  letter-spacing: .0625rem;
}

h5{
  font-size: 1.25rem;
  letter-spacing: .0625rem;
}

.lilac-text{
  color:#AF7Ad5;
}

/* ABOUT ME */

.me-custom{
  background-color: #101018;
}

h3{
  margin: 0;
}

/* EDUCACION */

.contain{
  width: 80%;
}

th{
  background-color: #AF7Ad5 !important;
}

td{
  background-color: #171720 !important;
  color:#e6e6fa !important;
}

.tabla tr, th, td{
border: 1px solid;
}



/* EXPERIENCIA */

.exp-custom{
  background-color: #101018;
}

.carrosize{
  width: 31.25rem;
}


/* FOOTER */

footer{
  color: #AF7Ad5;
  height: 5rem;
}
